@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: x-large;
  margin: auto;
  padding: 30px;
}
button{
  padding: 5px 10px;
  border: 1px solid black;
  font-weight: bold;
}
.flashcard{
  background-color: palevioletred;
  font-size: larger;
  margin: auto;
  padding: 5px;
  border: 2px solid black;
  width: 270px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.villager-list{
  background-color: palevioletred;
  font-size: larger;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
}
#villager-list{
  display: flex;
  flex-wrap: wrap;
}
#villager-header{
  display: flex;
  justify-content: space-between;
}
img{
  width: 200px;
  border: 2px solid black;
}
#flashcards-page{
  display: flex;
  justify-content: center;
  align-items: center;
}