@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: palegoldenrod;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.nav-bar {
  position: absolute;
  left: 30px;
  top: 20px;
}
.nav-bar button{
  float: left;
  overflow: hidden;
  margin: 0px;
}
.nav-bar button:first-child, .nav-bar button:nth-last-child(2){
  border-right: 0px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: x-large;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
}
button{
  padding: 5px 10px;
  border: 1.5px solid black;
  font-weight: bold;
  background-color: seashell;
  margin: 20px;
}
button:hover{
  background-color: olivedrab;
  color: seashell;
}
.flashcard{
  background-color: palevioletred;
  font-size: larger;
  margin: auto;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid black;
  width: 270px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.villager-list{
  background-color: palevioletred;
  font-size: larger;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
}
#villager-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#villager-header{
  display: flex;
  justify-content: space-between;
}
img{
  width: 200px;
  border: 2px solid black;
}
#flashcards-page{
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#difficulty-buttons{
  margin-top: 20px;
}
#difficulty-buttons button:hover{
  color: #0a0a0a;
  border: 2.5px solid black;
}
#easy-button{
  background-color: rgb(42, 227, 42);
  margin: 0px;
  border-right: 0px;
}
#medium-button{
  background-color: yellow;
  margin: 0px;
  border-right: 0px;
}
#hard-button{
  background-color: rgb(255, 54, 54);
  margin: 0px;
}
