@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
h1{
  font-size: x-large;
  margin: auto;
  padding: 30px;
}
button{
  padding: 5px 10px;
  border: 1px solid black;
  font-weight: bold;
}
.flashcard{
  width: 200px;
  height: 200px;
  background-color: palevioletred;
  font-size: larger;
  margin: auto;
  padding-top: 30px;
}